Repository Atractorrr/Attraction-FE, pull requests merged in 2024-07, with the labels that each got.

#110 서비스 소개 UI 추가 및 로그인 로직 설정 변경
  apps/service/public/images/introduce-1-dark.png
  apps/service/public/images/introduce-1-light.png
  apps/service/public/images/introduce-2-dark.png
  apps/service/public/images/introduce-2-light.png
  apps/service/public/images/introduce-3-dark.png
  apps/service/public/images/introduce-3-light.png
  apps/service/public/images/service-introduce-1-dark.png
  apps/service/public/images/service-introduce-1-light.png
  apps/service/public/images/service-introduce-2-dark.png
  apps/service/public/images/service-introduce-2-light.png
  apps/service/public/images/service-introduce-3-dark.png
  apps/service/public/images/service-introduce-3-light.png
  apps/service/src/app/api/auth/callback/google/route.ts
  apps/service/src/entities/auth/api/getUserSession.ts
  apps/service/src/entities/auth/constant/index.ts
  apps/service/src/entities/auth/constant/publicPath.ts
  apps/service/src/entities/auth/model/useSession.ts
  apps/service/src/entities/auth/ui/AuthButton.tsx
  apps/service/src/entities/auth/ui/InduceLoginConfirm.tsx
  apps/service/src/entities/auth/ui/NeedLogin.tsx
  apps/service/src/entities/modal/model/ModalProvider.tsx
  apps/service/src/entities/theme/lib/util/ThemeProvider.tsx
  apps/service/src/features/subscribe-newsletter/ui/ManualSubscribeConfirm.tsx
  apps/service/src/shared/constant/index.ts
  apps/service/src/shared/constant/visitedKey.ts
  apps/service/src/shared/lib/util/DeviceProvider.tsx
  apps/service/src/shared/lib/util/checkMobile.ts
  apps/service/src/shared/lib/util/index.ts
  apps/service/src/shared/ui/carousel/embla.css
  apps/service/src/widgets/main/ui/RecentArticlesContainer.tsx
  apps/service/src/widgets/menu/ui/Header.tsx
  apps/service/src/widgets/menu/ui/SideBar.tsx
  apps/service/src/widgets/sign-in/ui/ServiceIntroduceView.tsx
  apps/service/src/widgets/sign-in/ui/SignIn.tsx
  apps/service/src/widgets/sign-in/ui/SignInCarousel.tsx
  apps/service/src/widgets/sign-in/ui/SignInSlide.tsx
  apps/service/src/widgets/sign-up-container/ui/SignUp.tsx
Labels: 🛠️ refactor, 📰 service, ✨ feature

#112 스토리북 크로마틱 배포
  .github/workflows/chromatic_workflow.yml
  .github/workflows/workflow.yml
  package.json
  packages/design-system/package.json
  packages/design-system/src/Dialog/Dialog.stories.tsx
  pnpm-lock.yaml
Labels: 📚 design system, 🔨 CI / CD

#114 보관함 필터 UI 개편
  apps/service/src/entities/user-article/constant/index.ts
  apps/service/src/entities/user-article/constant/sortButton.ts
  apps/service/src/entities/user-article/model/index.ts
  apps/service/src/entities/user-article/model/useUserCategoriesQuery.ts
  apps/service/src/features/filter-article/ui/CategoryButton.tsx
  apps/service/src/features/filter-article/ui/CategoryDropdown.tsx
  apps/service/src/features/filter-article/ui/CategorySelectForDrawer.tsx
  apps/service/src/features/filter-article/ui/FilterButton.tsx
  apps/service/src/features/filter-article/ui/FilterDropdownBtn.tsx
  apps/service/src/features/filter-article/ui/HideReadToggleBtn.tsx
  apps/service/src/features/filter-article/ui/ResetButton.tsx
  apps/service/src/features/filter-article/ui/SearchBar.tsx
  apps/service/src/features/filter-article/ui/SortButton.tsx
  apps/service/src/features/filter-article/ui/ViewTypeButton.tsx
  apps/service/src/features/filter-article/ui/ViewTypeTabMenu.tsx
  apps/service/src/features/filter-article/ui/index.ts
  apps/service/src/widgets/inbox/ui/UserInbox.tsx
  package.json
Labels: 🛠️ refactor, 📰 service

#115 ci 환경에서 prettier 에러 수정
  .eslintrc.cjs
  package.json
  packages/icons/package.json
  pnpm-lock.yaml
Labels: 🐛 bug, 🔨 CI / CD

#117 아티클 보관함 내 뉴스레터 필터 추가 및 뉴스레터 관련 컴포넌트 사용성 개선
  apps/service/src/entities/user-article/api/getUserNewsletters.ts
  apps/service/src/entities/user-article/api/index.ts
  apps/service/src/entities/user-article/model/index.ts
  apps/service/src/entities/user-article/model/type/article.ts
  apps/service/src/entities/user-article/model/type/newsletter.ts
  apps/service/src/entities/user-article/model/useUserNewslettersQuery.ts
  apps/service/src/entities/user-article/model/userArticleQueryKeys.ts
  apps/service/src/entities/user-article/ui/ArticleList.tsx
  apps/service/src/features/filter-article/model/useArticleFilter.ts
  apps/service/src/features/filter-article/model/useNewsletterSelect.ts
  apps/service/src/features/filter-article/ui/CategoryDropdown.tsx
  apps/service/src/features/filter-article/ui/NewsletterSelectButton.tsx
  apps/service/src/features/filter-article/ui/index.ts
  apps/service/src/features/subscribe-list/ui/SubscribeList.tsx
  apps/service/src/features/trend-newsletters/ui/TrendNewsletterItem.tsx
  apps/service/src/features/trend-newsletters/ui/TrendNewsletterList.tsx
  apps/service/src/features/trend-newsletters/ui/index.ts
  apps/service/src/shared/ui/article/ArticleCard.tsx
  apps/service/src/shared/ui/index.ts
  apps/service/src/shared/ui/newsletter/NewsletterAvatar.tsx
  apps/service/src/shared/ui/newsletter/NewsletterItem.tsx
  apps/service/src/shared/ui/newsletter/NewsletterSelect.tsx
  apps/service/src/shared/ui/newsletter/NewsletterSelectSkeleton.tsx
  apps/service/src/shared/ui/newsletter/index.ts
  apps/service/src/widgets/discover/model/type/discoverRelatedNewsletterResponse.ts
  apps/service/src/widgets/discover/ui/DiscoverRelatedNewsletterItem.tsx
  apps/service/src/widgets/discover/ui/DiscoverRelatedNewsletters.tsx
  apps/service/src/widgets/inbox/ui/UserInbox.tsx
  apps/service/src/widgets/menu/ui/SideBar.tsx
  apps/service/src/widgets/menu/ui/SubscribeNewsletter.tsx
  apps/service/src/widgets/newsletter-introduce/model/type/relatedNewslettersResponse.ts
  apps/service/src/widgets/newsletter-introduce/ui/RelatedNewsletterItem.tsx
  apps/service/src/widgets/newsletter-introduce/ui/RelatedNewsletters.tsx
Labels: 🛠️ refactor, 📰 service, ✨ feature

#118 utils 패키지 추가 및 빌드 커맨드 개선
  .github/workflows/chromatic_workflow.yml
  .github/workflows/workflow.yml
  .gitignore
  apps/service/package.json
  apps/service/src/entities/user-article/ui/ArticleList.tsx
  apps/service/src/entities/user-article/ui/ArticleView.tsx
  apps/service/src/shared/lib/util/index.ts
  apps/service/src/shared/ui/article/ArticleCard.tsx
  package.json
  packages/design-system/build.bash
  packages/design-system/package.json
  packages/icons/build.bash
  packages/icons/package.json
  packages/icons/renew.bash
  packages/utils/.eslintrc.cjs
  packages/utils/build.bash
  packages/utils/package.json
  packages/utils/src/day.ts
  packages/utils/src/index.ts
  packages/utils/src/string.ts
  packages/utils/tsconfig.json
  packages/utils/tsup.config.ts
  pnpm-lock.yaml
Labels: 🛠️ refactor, 📰 service, ✨ feature, 📚 design system, ⚙️ utils, 🔮 icons
