Repository Atractorrr/Attraction-FE, pull requests merged in 2024-06, with the labels that each got.

#33 회원가입 리팩토링
  apps/service/.gitignore
  apps/service/app/sign-up/page.tsx
  apps/service/entities/auth/constant/path.ts
  apps/service/entities/user-setting/constant/userInfoOccupation.ts
  apps/service/features/sign-up/api/index.ts
  apps/service/features/sign-up/api/postDuplicateInput.ts
  apps/service/features/sign-up/constant/birthRegex.ts
  apps/service/features/sign-up/constant/index.ts
  apps/service/features/sign-up/lib/hook/index.ts
  apps/service/features/sign-up/lib/hook/useDisabledBtn.ts
  apps/service/features/sign-up/lib/index.ts
  apps/service/features/sign-up/model/type/signUpFormType.ts
  apps/service/features/sign-up/ui/SignUpCheckBox.tsx
  apps/service/features/sign-up/ui/UserAgreement.tsx
  apps/service/features/sign-up/ui/UserInfoBirthInput.tsx
  apps/service/features/sign-up/ui/UserInfoExpirationDate.tsx
  apps/service/features/sign-up/ui/UserInfoField.tsx
  apps/service/features/sign-up/ui/UserInfoNicknameInput.tsx
  apps/service/features/sign-up/ui/UserJobField.tsx
  apps/service/features/sign-up/ui/UserPreferTagField.tsx
  apps/service/widgets/sign-up-container/api/index.ts
  apps/service/widgets/sign-up-container/api/postSignUpForm.ts
  apps/service/widgets/sign-up-container/lib/hook/index.ts
  apps/service/widgets/sign-up-container/lib/hook/useSignUpFunnel.ts
  apps/service/widgets/sign-up-container/lib/index.ts
  apps/service/widgets/sign-up-container/lib/utils/checkSignUpFormErr.ts
  apps/service/widgets/sign-up-container/lib/utils/index.ts
  apps/service/widgets/sign-up-container/ui/SignUp.tsx
Labels: 🛠️ refactor, 📰 service

#36 유저 카테고리 및 아티클 api 연동
  apps/service/entities/user-article/api/getUserCategories.ts
  apps/service/features/filter-article/ui/CategoryDropdownBtn.tsx
Labels: 🐛 bug, 📰 service

#37 refactor: 로그인 시 쿠키 삭제 구현 (#ATR-147)
  apps/service/app/api/auth/register-success/route.ts
  apps/service/widgets/sign-up-container/ui/SignUp.tsx
Labels: 🐛 bug, 📰 service

#38 로그인 라우터 수정, 구독하기 기능 추가 및 스타일 일부 변경
  apps/service/app/api/auth/callback/google/route.ts
  apps/service/app/newsletter/[newsletterId]/page.tsx
  apps/service/entities/auth/ui/AuthButton.tsx
  apps/service/entities/related-newsletter-item/ui/RelatedNewsletterItem.tsx
  apps/service/features/newsletter-profile/api/index.ts
  apps/service/features/newsletter-profile/api/subscribeNewsletter.ts
  apps/service/features/newsletter-profile/ui/NewsletterProfile.tsx
  apps/service/middleware.ts
  apps/service/widgets/newsletter-introduce/ui/NewsletterIntroduce.tsx
  apps/service/widgets/recent-articles-container/ui/RecentArticlesContainer.tsx
  apps/service/widgets/user-rank/ui/UserRank.tsx
Labels: 🐛 bug, 📰 service, ✨ feature

#42 hotfix 마이페이지 오류 수정
  apps/service/app/widget.tsx
  apps/service/features/profile-container/lib/hook/useImgUpload.ts
  apps/service/features/profile-container/ui/ProfileContainer.tsx
  apps/service/features/profile-container/ui/ProfileSettingModal.tsx
  apps/service/features/profile-container/ui/UserSettingExpiration.tsx
  apps/service/features/profile-container/ui/UserSettingInterest.tsx
  apps/service/features/profile-container/ui/UserSettingName.tsx
  apps/service/features/recent-newsletter/api/fetchNewsletterList.ts
  apps/service/features/recent-newsletter/ui/RecentNewsletterContainer.tsx
  apps/service/features/sign-up/ui/UserAgreement.tsx
  apps/service/features/sign-up/ui/UserInfoBirthInput.tsx
  apps/service/features/sign-up/ui/UserInfoExpirationDate.tsx
  apps/service/features/sign-up/ui/UserInfoField.tsx
  apps/service/features/sign-up/ui/UserInfoNicknameInput.tsx
  apps/service/features/sign-up/ui/UserJobField.tsx
  apps/service/features/sign-up/ui/UserPreferTagField.tsx
  apps/service/features/subscribe-list/api/fetchSubscribeList.ts
  apps/service/features/subscribe-list/ui/SubscribeList.tsx
Labels: 🐛 bug, 🛠️ refactor, 📰 service

#44 인풋 글자제한 기능
  apps/service/features/sign-up/ui/UserInfoNicknameInput.tsx
Labels: 🛠️ refactor, 📰 service, ✨ feature

#45 hotfix: 빈배열로 왔을 때 구독리스트 최근 본 아티클 가이드 텍스트 보여주기
  apps/service/features/recent-newsletter/api/fetchNewsletterList.ts
  apps/service/features/recent-newsletter/ui/RecentNewsletterContainer.tsx
  apps/service/features/subscribe-list/ui/SubscribeList.tsx
Labels: 🛠️ refactor, 📰 service, ✨ feature

#46 백그라운드 url 이미지 경로 변경
  apps/service/features/profile-container/ui/ProfileSettingModal.tsx
Labels: 📰 service, ✨ feature

#47 rewrites 요청 에러 수정
  apps/service/entities/recent-article-item/ui/RecentArticleItem.tsx
  apps/service/entities/user-article/ui/ArticleView.tsx
  apps/service/middleware.ts
Labels: 🐛 bug, 📰 service

#48 fix: 테마 타입 에러 수정 (#ATR-249)
  apps/service/entities/profile/ui/ProfileBackground.tsx
  apps/service/entities/profile/ui/ProfileImage.tsx
  apps/service/features/calendar/ui/Calendar.tsx
  apps/service/features/newsletter-profile/ui/NewsletterProfile.tsx
  apps/service/features/profile-container/ui/ProfileContainer.tsx
  apps/service/features/set-theme/index.ts
  apps/service/widgets/header/ui/Header.tsx
Labels: 🐛 bug, 📰 service

#49 프로덕션 배포 전 최종 수정
  apps/service/__mocks__/handlers/mypage/index.ts
  apps/service/entities/news-card/ui/CardThumbnail.tsx
  apps/service/entities/user-article/model/userArticleQueryKeys.ts
  apps/service/features/graph/ui/Graph.tsx
  apps/service/features/profile-container/ui/ProfileContainer.tsx
  apps/service/features/recent-newsletter/model/type/recentNewsletter.ts
  apps/service/features/recent-newsletter/ui/RecentNewsletterContainer.tsx
  apps/service/widgets/inbox/ui/ArticleDetail.tsx
Labels: 🐛 bug, 🛠️ refactor, 📰 service

#51 유저 아티클 api 관련 로직 백엔드 연동 버그 수정
  apps/service/__mocks__/handlers/inbox/index.ts
  apps/service/entities/auth/ui/AuthButton.tsx
  apps/service/entities/user-article/api/getUserArticle.ts
  apps/service/entities/user-article/api/getUserArticleList.ts
  apps/service/entities/user-article/api/getUserCategories.ts
  apps/service/entities/user-article/api/putUserArticle.ts
  apps/service/entities/user-article/model/type/article.ts
  apps/service/entities/user-article/model/type/sortType.ts
  apps/service/entities/user-article/model/useUserArticleMutation.ts
  apps/service/features/filter-article/model/useSortType.ts
  apps/service/features/filter-article/ui/SortTypeDropdownBtn.tsx
  apps/service/features/scroll-tracker/ui/ScrollTracker.tsx
  apps/service/widgets/inbox/ui/UserInbox.tsx
Labels: 🐛 bug, 📰 service

#52 유저 아티클 페이지 1차 에러 검수 변경사항 반영
  apps/service/__mocks__/handlers/inbox/index.ts
  apps/service/__mocks__/handlers/tools.ts
  apps/service/entities/user-article/api/getUserArticleList.ts
  apps/service/entities/user-article/model/type/article.ts
  apps/service/features/filter-article/model/useCategory.ts
  apps/service/features/filter-article/model/useSortType.ts
  apps/service/features/filter-article/model/useViewType.ts
  apps/service/features/filter-article/ui/CategoryDropdownBtn.tsx
  apps/service/features/filter-article/ui/FilterDropdownBtn.tsx
  apps/service/features/filter-article/ui/SortTypeDropdownBtn.tsx
  apps/service/features/scroll-tracker/constant/maxScrollCriteria.ts
  apps/service/widgets/inbox/ui/UserInbox.tsx
Labels: 🐛 bug, 🛠️ refactor, 📰 service

#53 Refactor/signup #atr 294
  apps/service/features/profile-container/ui/UserSettingExpiration.tsx
  apps/service/features/profile-container/ui/UserSettingJob.tsx
  apps/service/features/sign-up/model/type/signUpFormType.ts
  apps/service/features/sign-up/ui/UserAgreement.tsx
  apps/service/features/sign-up/ui/UserInfoBirthInput.tsx
  apps/service/features/sign-up/ui/UserInfoExpirationDate.tsx
  apps/service/features/sign-up/ui/UserInfoNicknameInput.tsx
  apps/service/features/sign-up/ui/UserJobField.tsx
  apps/service/features/sign-up/ui/UserPreferTagField.tsx
  apps/service/features/sign-up/ui/index.ts
  apps/service/features/user-setting/constant/checkInputRegex.ts
  apps/service/features/user-setting/constant/index.ts
  apps/service/features/user-setting/constant/userInfoExpiration.ts
  apps/service/features/user-setting/constant/userInfoOccupation.ts
  apps/service/features/user-setting/index.ts
  apps/service/features/user-setting/lib/index.ts
  apps/service/features/user-setting/lib/util/checkInputValid.ts
  apps/service/features/user-setting/lib/util/index.ts
  apps/service/features/user-setting/ui/UserDuplicateCheckInput.tsx
  apps/service/features/user-setting/ui/UserSettingList.tsx
  apps/service/features/user-setting/ui/index.ts
  apps/service/widgets/sign-up-container/api/postSignUpForm.ts
  apps/service/widgets/sign-up-container/lib/hook/useSignUpFunnel.ts
  apps/service/widgets/sign-up-container/ui/SignUp.tsx
Labels: 🛠️ refactor, ✨ feature

#55 404 페이지 추가 및 누락된 컨벤션 관련 수정
  apps/service/app/not-found.tsx
  apps/service/entities/user-article/model/type/newsletter.ts
  apps/service/public/images/not-found-icon.png
  apps/service/shared/constant/adminEmail.ts
  apps/service/shared/constant/googleOAuthURL.ts
  apps/service/shared/constant/index.ts
  apps/service/shared/constant/oAuthURL.ts
  apps/service/shared/constant/uploadDays.ts
  apps/service/shared/type/index.ts
  apps/service/shared/type/newsletterCategory.ts
  apps/service/shared/ui/ContentContainer.tsx
  apps/service/shared/ui/ContentTitle.tsx
  apps/service/shared/ui/GoogleOAuthButton.tsx
  apps/service/shared/ui/ImageBox.tsx
  apps/service/shared/ui/NotFound.tsx
  apps/service/shared/ui/Title.tsx
  apps/service/shared/ui/content/index.ts
  apps/service/shared/ui/content/model/index.ts
  apps/service/shared/ui/content/model/types/title.ts
  apps/service/shared/ui/image-box/index.ts
  apps/service/shared/ui/image-box/ui/index.tsx
  apps/service/shared/ui/index.ts
  apps/service/shared/ui/oauth-button/index.ts
  apps/service/shared/ui/oauth-button/ui/index.ts
  apps/service/shared/ui/title/index.ts
  apps/service/widgets/side-bar/constant/adminEmail.ts
  apps/service/widgets/side-bar/constant/index.ts
  apps/service/widgets/side-bar/ui/Footer.tsx
  apps/service/widgets/sign-in/ui/SignIn.tsx
Labels: 🛠️ refactor, 📰 service, ✨ feature

#56 바텀시트 UI, 체크박스 UI, 모바일 체크 기능 추가
  apps/service/.eslintrc.cjs
  apps/service/app/provider.tsx
  apps/service/shared/lib/util/DeviceProvider.tsx
  apps/service/shared/lib/util/QueryProvider.tsx
  apps/service/shared/lib/util/checkMobile.ts
  apps/service/shared/lib/util/index.ts
  apps/service/shared/lib/util/react-query/index.ts
  packages/design-system/.eslintrc.cjs
  packages/design-system/package.json
  packages/design-system/src/Checkbox/Checkbox.stories.tsx
  packages/design-system/src/Checkbox/Checkbox.style.ts
  packages/design-system/src/Checkbox/Checkbox.tsx
  packages/design-system/src/Checkbox/index.ts
  packages/design-system/src/Drawer/Drawer.tsx
  packages/design-system/src/Drawer/index.ts
  packages/design-system/src/index.ts
  pnpm-lock.yaml
Labels: 📰 service, ✨ feature, 📚 design system

#57 2차 기획 회의 관련 요구사항 반영
  apps/service/__mocks__/data/articles.ts
  apps/service/app/not-found.tsx
  apps/service/entities/auth/ui/AuthButton.tsx
  apps/service/entities/auth/ui/NeedLogin.tsx
  apps/service/entities/auth/ui/index.ts
  apps/service/entities/user-article/lib/index.ts
  apps/service/entities/user-article/lib/util/daysAgo.ts
  apps/service/entities/user-article/lib/util/index.ts
  apps/service/entities/user-article/ui/ArticleView.tsx
  apps/service/entities/user-article/ui/CardItem.tsx
  apps/service/entities/user-article/ui/ToBeDeletedTxt.tsx
  apps/service/features/filter-article/ui/CategoryDropdown.tsx
  apps/service/public/images/need-login-icon.png
  apps/service/shared/lib/util/checkMobile.ts
  apps/service/shared/ui/NotFound.tsx
  apps/service/shared/ui/WarnTxt.tsx
  apps/service/widgets/header/ui/Header.tsx
  apps/service/widgets/inbox/ui/UserInbox.tsx
  apps/service/widgets/side-bar/ui/Menu.tsx
  packages/design-system/src/Checkbox/Checkbox.style.ts
  packages/design-system/src/Checkbox/Checkbox.tsx
  packages/design-system/src/Drawer/Drawer.tsx
Labels: 📰 service, ✨ feature, 📚 design system

#58 아이콘 추가 및 shared 유틸리티 수정
  apps/service/entities/newsletter-previous-article-item/ui/NewsletterPreviousArticleItem.tsx
  apps/service/entities/recent-article-item/ui/RecentArticleItem.tsx
  apps/service/entities/trend-newsletters/api/fetchNewsletters.ts
  apps/service/entities/trend-newsletters/lib/hook/useTrendNewsletters.ts
  apps/service/features/calendar/ui/Calendar.tsx
  apps/service/features/newsletter-categories/constant/category.ts
  apps/service/features/newsletter-categories/constant/index.ts
  apps/service/features/newsletter-categories/index.ts
  apps/service/features/newsletter-categories/lib/index.ts
  apps/service/features/newsletter-categories/lib/util/getSortedCategories.ts
  apps/service/features/newsletter-categories/lib/util/index.ts
  apps/service/features/newsletter-categories/model/type/index.ts
  apps/service/features/newsletter-categories/model/type/mainCategories.ts
  apps/service/features/newsletter-categories/model/type/preferCaterories.ts
  apps/service/features/newsletter-categories/ui/NewsletterCategories.tsx
  apps/service/features/newsletter-previous-articles/ui/NewsletterPreviousArticles.tsx
  apps/service/features/newsletter-profile/ui/NewsletterProfile.tsx
  apps/service/features/profile-container/ui/ProfileContainer.tsx
  apps/service/features/related-newsletters/ui/RelatedNewsletters.tsx
  apps/service/shared/constant/newsletterCategory.ts
  apps/service/shared/lib/util/getTimeFromNow.ts
  apps/service/shared/lib/util/index.ts
  apps/service/shared/ui/ErrorGuideTxt.tsx
  apps/service/widgets/recent-articles-container/ui/RecentArticlesContainer.tsx
  apps/service/widgets/trend-newsletters/ui/TrendNewsletters.tsx
  packages/icons/src/emoji/index.ts
  packages/icons/src/emoji/react/QuestionMarkDirectory.tsx
  packages/icons/src/emoji/react/QuestionMarkDirectory2.tsx
  packages/icons/src/emoji/react/Siren.tsx
  packages/icons/src/emoji/svg/question-mark-directory-2.svg
  packages/icons/src/emoji/svg/question-mark-directory.svg
  packages/icons/src/emoji/svg/siren.svg
  packages/icons/src/outline/index.ts
  packages/icons/src/outline/react/ArrowDownTray.tsx
  packages/icons/src/outline/react/ArrowLeftStartOnRectangle.tsx
  packages/icons/src/outline/react/Backspace.tsx
  packages/icons/src/outline/react/Bookmark.tsx
  packages/icons/src/outline/react/BookmarkSquare.tsx
  packages/icons/src/outline/react/EnvelopeOpen2.tsx
  packages/icons/src/outline/react/InformationCircle.tsx
  packages/icons/src/outline/svg/arrow-down-tray.svg
  packages/icons/src/outline/svg/arrow-fill-down.svg
  packages/icons/src/outline/svg/arrow-fill-up.svg
  packages/icons/src/outline/svg/arrow-left-start-on-rectangle.svg
  packages/icons/src/outline/svg/backspace.svg
  packages/icons/src/outline/svg/bars.svg
  packages/icons/src/outline/svg/bookmark-square.svg
  packages/icons/src/outline/svg/bookmark.svg
  packages/icons/src/outline/svg/camera.svg
  packages/icons/src/outline/svg/chevron-double-left.svg
  packages/icons/src/outline/svg/chevron-double-right.svg
  packages/icons/src/outline/svg/envelope-open-2.svg
  packages/icons/src/outline/svg/exclamation-circle.svg
  packages/icons/src/outline/svg/information-circle.svg
  packages/icons/src/outline/svg/moon-star.svg
  packages/icons/src/outline/svg/paint.svg
  packages/icons/src/outline/svg/refresh.svg
Labels: 🐛 bug, 🛠️ refactor, 📰 service, ✨ feature, 📚 design system

#59 유저 랭킹 시스템 구현
  apps/service/public/images/firstMedal.png
  apps/service/public/images/secondMedal.png
  apps/service/public/images/thirdMedal.png
  apps/service/widgets/user-rank/api/getUserRanking.ts
  apps/service/widgets/user-rank/api/index.ts
  apps/service/widgets/user-rank/model/index.ts
  apps/service/widgets/user-rank/model/type/index.ts
  apps/service/widgets/user-rank/model/type/rankingType.ts
  apps/service/widgets/user-rank/ui/UserRank.tsx
  apps/service/widgets/user-rank/ui/UserRankMedal.tsx
Labels: 🛠️ refactor, ✨ feature

#60 회원가입 로직 에러 수정
  apps/service/features/sign-up/ui/UserAgreement.tsx
  apps/service/features/sign-up/ui/UserInfoNicknameInput.tsx
  apps/service/features/user-setting/lib/util/checkInputValid.ts
  apps/service/widgets/sign-up-container/lib/hook/useSignUpFunnel.ts
  apps/service/widgets/sign-up-container/lib/utils/checkSignUpFormErr.ts
  apps/service/widgets/sign-up-container/ui/SignUp.tsx
Labels: 🐛 bug, ✨ feature

#62 로그인 리이슈 기능 추가 및 성능개선
  apps/service/app/api/auth/callback/google/route.ts
  apps/service/app/api/auth/re-issue/route.ts
  apps/service/app/inbox/layout.tsx
  apps/service/app/mypage/page.tsx
  apps/service/app/need-login/page.tsx
  apps/service/entities/auth/model/useToken.ts
  apps/service/entities/auth/ui/NeedLogin.tsx
  apps/service/entities/auth/ui/WithAuth.tsx
  apps/service/entities/auth/ui/index.ts
  apps/service/middleware.ts
  apps/service/shared/lib/util/QueryProvider.tsx
  package.json
Labels: 🛠️ refactor, 📰 service, ✨ feature

#63 provider context hell 코드 수정 및 props with children 타입 적용
  apps/service/app/inbox/layout.tsx
  apps/service/app/layout.tsx
  apps/service/app/provider.tsx
  apps/service/app/widget.tsx
  apps/service/entities/auth/lib/util/AuthProvider.tsx
  apps/service/entities/auth/ui/NeedLogin.tsx
  apps/service/entities/auth/ui/WithAuth.tsx
  apps/service/entities/news-card/ui/NewsCard.tsx
  apps/service/entities/theme/lib/util/ThemeProvider.tsx
  apps/service/shared/lib/util/DeviceProvider.tsx
  apps/service/shared/lib/util/QueryProvider.tsx
  apps/service/shared/ui/Container.tsx
  apps/service/shared/ui/ContentContainer.tsx
  apps/service/widgets/inbox/ui/UserInboxLayout.tsx
Labels: 🛠️ refactor, 📰 service

#64 feat: suspesne 추가 및 에러 바운더리 추가
  apps/service/widgets/user-rank/ui/UserRank.tsx
  apps/service/widgets/user-rank/ui/UserRankContent.tsx
Labels: ✨ feature

#65 PWA 세팅
  apps/service/.gitignore
  apps/service/app/manifest.ts
  apps/service/app/provider.tsx
  apps/service/entities/pwa/index.ts
  apps/service/entities/pwa/lib/index.ts
  apps/service/entities/pwa/lib/util/index.ts
  apps/service/entities/pwa/lib/util/pwaUtilities.ts
  apps/service/entities/pwa/ui/PWAProvider.tsx
  apps/service/entities/pwa/ui/TestButton.tsx
  apps/service/entities/pwa/ui/index.ts
  apps/service/next.config.mjs
  apps/service/package.json
  apps/service/public/icons/icon_shadow.png
  apps/service/widgets/recent-articles-container/ui/RecentArticlesContainer.tsx
  package.json
  pnpm-lock.yaml
Labels: 📰 service, ✨ feature

#66 PWA 추가 설정
  apps/service/.gitignore
  apps/service/app/manifest.ts
  apps/service/app/offline/page.tsx
  apps/service/next.config.mjs
  apps/service/public/icons/icon_shadow.png
  apps/service/public/icons/icon_shadow_100.png
  apps/service/public/icons/icon_shadow_1024.png
  apps/service/public/icons/icon_shadow_114.png
  apps/service/public/icons/icon_shadow_120.png
  apps/service/public/icons/icon_shadow_128.png
  apps/service/public/icons/icon_shadow_144.png
  apps/service/public/icons/icon_shadow_152.png
  apps/service/public/icons/icon_shadow_16.png
  apps/service/public/icons/icon_shadow_167.png
  apps/service/public/icons/icon_shadow_180.png
  apps/service/public/icons/icon_shadow_192.png
  apps/service/public/icons/icon_shadow_20.png
  apps/service/public/icons/icon_shadow_29.png
  apps/service/public/icons/icon_shadow_32.png
  apps/service/public/icons/icon_shadow_324.png
  apps/service/public/icons/icon_shadow_40.png
  apps/service/public/icons/icon_shadow_50.png
  apps/service/public/icons/icon_shadow_512.png
  apps/service/public/icons/icon_shadow_57.png
  apps/service/public/icons/icon_shadow_58.png
  apps/service/public/icons/icon_shadow_60.png
  apps/service/public/icons/icon_shadow_64.png
  apps/service/public/icons/icon_shadow_72.png
  apps/service/public/icons/icon_shadow_76.png
  apps/service/public/icons/icon_shadow_80.png
  apps/service/public/icons/icon_shadow_87.png
  apps/service/public/images/network-not-working.png
  apps/service/public/splashImages/ipad_splash.png
  apps/service/public/splashImages/ipadpro1_splash.png
  apps/service/public/splashImages/ipadpro2_splash.png
  apps/service/public/splashImages/ipadpro3_splash.png
  apps/service/public/splashImages/iphone5_splash.png
  apps/service/public/splashImages/iphone6_splash.png
  apps/service/public/splashImages/iphoneplus_splash.png
  apps/service/public/splashImages/iphonex_splash.png
  apps/service/public/splashImages/iphonexr_splash.png
  apps/service/public/splashImages/iphonexsmax_splash.png
  apps/service/shared/ui/ErrorGuideTxt.tsx
  apps/service/shared/ui/NotFound.tsx
  apps/service/shared/ui/Offline.tsx
  apps/service/shared/ui/index.ts
  apps/service/widgets/recent-articles-container/ui/RecentArticlesContainer.tsx
Labels: 📰 service, ✨ feature

#70 이용약관 및 개인정보 처리방침 페이지 추가 (+ 스타일 검수)
  apps/service/app/globals.css
  apps/service/app/inbox-bookmark/layout.tsx
  apps/service/app/inbox/layout.tsx
  apps/service/app/layout.tsx
  apps/service/app/mypage/page.tsx
  apps/service/app/newsletter/[newsletterId]/page.tsx
  apps/service/app/policy/privacy/page.tsx
  apps/service/app/policy/service/page.tsx
  apps/service/app/sign-in/page.tsx
  apps/service/app/sign-up/page.tsx
  apps/service/shared/constant/index.ts
  apps/service/shared/constant/teamName.ts
  apps/service/shared/ui/index.ts
  apps/service/shared/ui/policy/PrivacyPolicy.tsx
  apps/service/shared/ui/policy/ServicePolicy.tsx
  apps/service/shared/ui/policy/index.ts
  apps/service/widgets/main/constant/index.ts
  apps/service/widgets/main/constant/medalImages.ts
  apps/service/widgets/main/model/hook/index.ts
  apps/service/widgets/main/model/index.ts
  apps/service/widgets/main/model/useRecentArticles.ts
  apps/service/widgets/main/ui/UserRank.tsx
  apps/service/widgets/main/ui/UserRankContent.tsx
  apps/service/widgets/main/ui/UserRankMedal.tsx
  apps/service/widgets/menu/constant/copyRight.ts
  apps/service/widgets/menu/constant/index.ts
  apps/service/widgets/menu/constant/pageTitle.ts
  apps/service/widgets/menu/lib/hook/index.ts
  apps/service/widgets/menu/lib/hook/useTitle.ts
  apps/service/widgets/menu/lib/index.ts
  apps/service/widgets/menu/lib/util/getTitle.ts
  apps/service/widgets/menu/lib/util/index.ts
  apps/service/widgets/menu/ui/Footer.tsx
  apps/service/widgets/menu/ui/Header.tsx
  apps/service/widgets/menu/ui/MobileHeaderMenuBtn.tsx
Labels: 📰 service, ✨ feature

#72 Refactor/mypage #atr 213
  apps/service/app/api/s3-upload/route.ts
  apps/service/entities/user-setting/lib/util/checkInputValid.ts
  apps/service/entities/user-setting/lib/util/index.ts
  apps/service/features/profile-container/lib/hook/useImgUpload.ts
  apps/service/features/profile-container/ui/ProfileContainer.tsx
  apps/service/features/profile-container/ui/ProfileSettingModal.tsx
  apps/service/features/profile-container/ui/UserSettingName.tsx
  apps/service/package.json
  pnpm-lock.yaml
Labels: ✨ feature, 📚 design system

#74 공용 썸네일 컴포넌트 추가 및 스타일 검수
  apps/service/app/discover/[result]/page.tsx
  apps/service/app/discover/page.tsx
  apps/service/app/setting/page.tsx
  apps/service/entities/auth/ui/AuthButton.tsx
  apps/service/entities/user-article/ui/ArticleView.tsx
  apps/service/entities/user-article/ui/CardItem.tsx
  apps/service/public/images/ads.jpg
  apps/service/shared/constant/adminEmail.ts
  apps/service/shared/ui/MainLogoSVG.tsx
  apps/service/shared/ui/ThumbnailImage.tsx
  apps/service/shared/ui/index.ts
  apps/service/widgets/discover/ui/DiscoverInput.tsx
  apps/service/widgets/discover/ui/DiscoverLayout.tsx
  apps/service/widgets/discover/ui/DiscoverResultLayout.tsx
  apps/service/widgets/main/ui/RecentArticlesContainer.tsx
  apps/service/widgets/main/ui/UserRank.tsx
  apps/service/widgets/menu/ui/MainLogo.tsx
  apps/service/widgets/sign-in/ui/SignIn.tsx
Labels: 📰 service, ✨ feature

#76 thumbnail component 적용
  apps/service/entities/news-card/ui/CardThumbnail.tsx
  apps/service/entities/profile/ui/ProfileBackground.tsx
  apps/service/entities/profile/ui/ProfileImage.tsx
  apps/service/entities/pwa/ui/TestButton.tsx
  apps/service/features/profile-container/ui/ProfileContainer.tsx
  apps/service/features/subscribe-list/ui/SubscribeList.tsx
  apps/service/shared/ui/ThumbnailImage.tsx
  apps/service/widgets/main/ui/UserRankContent.tsx
Labels: ✨ feature

#78 2차 배포 전 점검 (1)
  apps/service/.gitignore
  apps/service/app/layout.tsx
  apps/service/app/manifest.ts
  apps/service/entities/theme/constant/index.ts
  apps/service/entities/theme/constant/theme-list.ts
  apps/service/entities/theme/index.ts
  apps/service/entities/theme/model/type/theme.ts
  apps/service/features/subscribe-list/ui/SubscribeList.tsx
  apps/service/features/user-setting/ui/modal/UserSettingItem.tsx
  apps/service/features/user-setting/ui/modal/UserSettingModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingThemeModal.tsx
  apps/service/shared/ui/ThumbnailImage.tsx
  apps/service/widgets/discover/ui/DiscoverRelatedNewsletterItem.tsx
  apps/service/widgets/newsletter-introduce/ui/NewsletterPreviousArticleItem.tsx
  apps/service/widgets/newsletter-introduce/ui/NewsletterProfile.tsx
  apps/service/widgets/newsletter-introduce/ui/NewsletterSubscribeButton.tsx
  apps/service/widgets/newsletter-introduce/ui/RelatedNewsletterItem.tsx
Labels: 🛠️ refactor, 📰 service, ✨ feature

#80 icons 패키지 tsup 번들링 적용
  package.json
  packages/design-system/tsconfig.json
  packages/icons/package.json
  packages/icons/src/index.ts
  packages/icons/tsconfig.json
  packages/icons/tsup.config.ts
  pnpm-lock.yaml
Labels: 🛠️ refactor, 📚 design system

#82 fix: 개인설정 페이지 오류 해결 및 반응형 수정 (#ATR-312)
  apps/service/features/user-setting/ui/modal/UserSettingItem.tsx
Labels: ✨ feature

#83 커스텀 컨펌창 컴포넌트 추가 및 스타일 검수
  apps/service/entities/auth/ui/AuthButton.tsx
  apps/service/entities/auth/ui/LogoutConfirmTrigger.tsx
  apps/service/entities/auth/ui/index.ts
  apps/service/features/subscribe-list/ui/SubscribeList.tsx
  apps/service/shared/ui/ThumbnailImage.tsx
  apps/service/widgets/menu/ui/MobileHeaderMenuBtn.tsx
  packages/design-system/src/AlertDialog/AlertDialog.tsx
  packages/design-system/src/AlertDialog/index.ts
  packages/design-system/src/index.ts
Labels: 📰 service, ✨ feature, 📚 design system

#84 아티클 정렬 기본값 변경, 로그아웃 컨펌창 버그 수정, 스타일 검수
  apps/service/__mocks__/handlers/inbox/index.ts
  apps/service/entities/auth/ui/AuthButton.tsx
  apps/service/entities/auth/ui/LogoutConfirmTrigger.tsx
  apps/service/entities/notification/index.ts
  apps/service/entities/theme/index.ts
  apps/service/entities/theme/ui/ThemeDropdownBtn.tsx
  apps/service/entities/theme/ui/index.ts
  apps/service/entities/user-article/ui/ArticleView.tsx
  apps/service/entities/user-article/ui/CardItem.tsx
  apps/service/features/filter-article/model/useSortType.ts
  apps/service/features/filter-article/ui/FilterDropdownBtn.tsx
  apps/service/features/set-theme/index.ts
  apps/service/middleware.ts
  apps/service/next.config.mjs
  apps/service/shared/ui/ThumbnailImage.tsx
  apps/service/widgets/inbox/ui/ArticleDetail.tsx
  apps/service/widgets/menu/ui/Header.tsx
  apps/service/widgets/menu/ui/MobileHeaderMenuBtn.tsx
Labels: 🐛 bug, 📰 service, ✨ feature

#85 유저 개인설정 모달 패턴 리팩토링 적용
  apps/service/app/provider.tsx
  apps/service/app/setting/page.tsx
  apps/service/entities/user-setting/lib/util/checkInputValid.ts
  apps/service/entities/user-setting/lib/util/index.ts
  apps/service/features/user-setting/lib/hook/useModal.ts
  apps/service/features/user-setting/model/ModalContext.tsx
  apps/service/features/user-setting/model/ModalProvider.tsx
  apps/service/features/user-setting/model/index.ts
  apps/service/features/user-setting/model/type/index.ts
  apps/service/features/user-setting/model/type/modalType.ts
  apps/service/features/user-setting/ui/UserInfoGeneral.tsx
  apps/service/features/user-setting/ui/UserInfoSetting.tsx
  apps/service/features/user-setting/ui/index.ts
  apps/service/features/user-setting/ui/modal/Modals.tsx
  apps/service/features/user-setting/ui/modal/UserSettingExpirationDateModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingInterestModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingItem.tsx
  apps/service/features/user-setting/ui/modal/UserSettingJobModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingNicknameModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingThemeModal.tsx
Labels: 🛠️ refactor, ✨ feature

#86 전역 에러바운더리 추가 및 메인페이지 및 마이페이지 api 응답 타입 변경 관련 에러 수정
  apps/service/app/error.tsx
  apps/service/entities/auth/ui/AuthButton.tsx
  apps/service/entities/auth/ui/ProfileDropdown.tsx
  apps/service/entities/news-card/ui/CardThumbnail.tsx
  apps/service/entities/news-card/ui/NewsCard.tsx
  apps/service/entities/user-article/lib/index.ts
  apps/service/entities/user-article/lib/util/daysAgo.ts
  apps/service/entities/user-article/lib/util/index.ts
  apps/service/entities/user-article/ui/CardItem.tsx
  apps/service/features/recent-newsletter/api/fetchNewsletterList.ts
  apps/service/features/recent-newsletter/model/type/recentNewsletter.ts
  apps/service/features/recent-newsletter/ui/RecentNewsletterContainer.tsx
  apps/service/shared/ui/ThumbnailImage.tsx
  apps/service/widgets/main/model/type/article.ts
  apps/service/widgets/main/ui/RecentArticleItem.tsx
  apps/service/widgets/main/ui/RecentArticlesContainer.tsx
Labels: 🐛 bug, 🛠️ refactor, 📰 service, ✨ feature

#87 mypage useAuth 적용
  apps/service/features/calendar/constant/calendarTheme.ts
  apps/service/features/calendar/ui/Calendar.tsx
  apps/service/features/recent-newsletter/ui/RecentNewsletterContainer.tsx
  apps/service/features/subscribe-list/ui/SubscribeList.tsx
  apps/service/widgets/user-record/ui/UserRecord.tsx
Labels: ✨ feature

#88 뉴스레터 소개, 과거 아티클 페이지 revalite time 지정
  apps/service/app/newsletter/[newsletterId]/article/[articleId]/page.tsx
  apps/service/app/newsletter/[newsletterId]/page.tsx
  apps/service/widgets/newsletter-introduce/ui/NewsletterProfile.tsx
Labels: 🐛 bug, 🛠️ refactor, 📰 service

#90 특정 환경변수 public 접두사 제거
  .github/workflows/workflow.yml
  apps/service/entities/channelTalk/ui/ChannelTalkProvider.tsx
  apps/service/entities/channelTalk/ui/ChannelTalkWrapper.tsx
  apps/service/shared/constant/googleOAuthURL.ts
Labels: 🛠️ refactor

#92 개인설정 페이지 스타일 검수 및 테마 이름 통합
  apps/service/entities/theme/constant/index.ts
  apps/service/entities/theme/constant/theme-list.ts
  apps/service/entities/theme/constant/themeList.ts
  apps/service/entities/theme/constant/themeName.ts
  apps/service/entities/theme/model/type/theme.ts
  apps/service/entities/theme/ui/ThemeDropdownBtn.tsx
  apps/service/features/user-setting/lib/hook/index.ts
  apps/service/features/user-setting/lib/hook/useModal.ts
  apps/service/features/user-setting/lib/index.ts
  apps/service/features/user-setting/lib/util/checkInputValid.ts
  apps/service/features/user-setting/lib/util/checkUserSettingInputError.ts
  apps/service/features/user-setting/lib/util/index.ts
  apps/service/features/user-setting/model/index.ts
  apps/service/features/user-setting/ui/UserInfoGeneral.tsx
  apps/service/features/user-setting/ui/UserInfoNotification.tsx
  apps/service/features/user-setting/ui/UserInfoSetting.tsx
  apps/service/features/user-setting/ui/UserInfoWithdraw.tsx
  apps/service/features/user-setting/ui/modal/UserSettingExpirationDateModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingInterestModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingItem.tsx
  apps/service/features/user-setting/ui/modal/UserSettingJobModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingNicknameModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingThemeModal.tsx
Labels: 📰 service, ✨ feature

#94 세션 방식 로그인 변경사항 반영
  apps/service/app/api/auth/callback/google/route.ts
  apps/service/app/api/auth/re-issue/route.ts
  apps/service/app/api/auth/sign-out/route.ts
  apps/service/app/layout.tsx
  apps/service/app/setting/page.tsx
  apps/service/app/sign-in/page.tsx
  apps/service/app/sign-up/page.tsx
  apps/service/entities/auth/api/getUserSession.ts
  apps/service/entities/auth/api/index.ts
  apps/service/entities/auth/constant/accessParamsKey.ts
  apps/service/entities/auth/constant/index.ts
  apps/service/entities/auth/constant/path.ts
  apps/service/entities/auth/constant/publicPath.ts
  apps/service/entities/auth/constant/sessionId.ts
  apps/service/entities/auth/lib/hook/index.ts
  apps/service/entities/auth/lib/hook/useRestrictAccessMessage.ts
  apps/service/entities/auth/lib/util/AuthProvider.tsx
  apps/service/entities/auth/model/index.ts
  apps/service/entities/auth/model/type/authState.ts
  apps/service/entities/auth/model/type/index.ts
  apps/service/entities/auth/model/type/userSession.ts
  apps/service/entities/auth/model/useAuth.ts
  apps/service/entities/auth/model/useSession.ts
  apps/service/entities/auth/model/useToken.ts
  apps/service/entities/auth/ui/FailedLoginAlert.tsx
  apps/service/entities/auth/ui/ProfileDropdown.tsx
  apps/service/entities/auth/ui/index.ts
  apps/service/entities/profile/ui/UserInfo.tsx
  apps/service/entities/user-article/model/useSendUserArticleBookmarkState.ts
  apps/service/entities/user-article/model/userArticleQueryKeys.ts
  apps/service/entities/user-article/ui/BookmarkBtn.tsx
  apps/service/entities/user-article/ui/OfflineDownloadBtn.tsx
  apps/service/features/profile-container/ui/ProfileContainer.tsx
  apps/service/features/user-setting/ui/UserInfoSetting.tsx
  apps/service/middleware.ts
  apps/service/shared/lib/util/QueryProvider.tsx
  apps/service/widgets/inbox/ui/UserInbox.tsx
  apps/service/widgets/main/ui/UserRankContent.tsx
  apps/service/widgets/sign-up-container/ui/SignUp.tsx
Labels: 🛠️ refactor, 📰 service, ✨ feature

#95 로그아웃 및 회원가입 로직에 로그인 변경사항 반영 (+ 토큰 만료 가이드 UI 추가)
  apps/service/app/api/auth/register-success/route.ts
  apps/service/app/api/auth/sign-out/route.ts
  apps/service/app/sign-up/page.tsx
  apps/service/entities/auth/lib/hook/useRestrictAccessMessage.ts
  apps/service/entities/auth/lib/util/AuthProvider.tsx
  apps/service/entities/auth/lib/util/logout.ts
  apps/service/entities/auth/model/useSession.ts
  apps/service/entities/auth/ui/ShouldReissueTokenGuide.tsx
  apps/service/entities/auth/ui/index.ts
  apps/service/shared/ui/WarnTxt.tsx
  apps/service/widgets/menu/ui/Header.tsx
  apps/service/widgets/sign-up-container/ui/SignUp.tsx
Labels: 🐛 bug, 🛠️ refactor, 📰 service, ✨ feature

#96 모달 dialog 수정 및 탈퇴 redirect 기능 수정
  apps/service/app/setting/page.tsx
  apps/service/app/sign-in/page.tsx
  apps/service/features/user-setting/ui/UserInfoSetting.tsx
  apps/service/features/user-setting/ui/UserInfoWithdraw.tsx
  apps/service/features/user-setting/ui/modal/UserSettingExpirationDateModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingInterestModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingJobModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingNicknameModal.tsx
  apps/service/features/user-setting/ui/modal/UserSettingWithdrawModal.tsx
Labels: 🛠️ refactor, ✨ feature

#97 Feature/user setting #atr 311
  apps/service/features/sign-up/ui/UserAgreement.tsx
  apps/service/features/sign-up/ui/UserJobField.tsx
  apps/service/features/sign-up/ui/modal/UserAgreementModal.tsx
  apps/service/features/user-setting/constant/userInfoOccupation.ts
  apps/service/features/user-setting/ui/UserInfoWithdraw.tsx
  apps/service/widgets/sign-up-container/lib/index.ts
  apps/service/widgets/sign-up-container/ui/SignUp.tsx
  packages/design-system/src/index.ts
Labels: ✨ feature

#98 인증 로직 관련 에러 처리 로직 추가
  apps/service/app/api/auth/callback/google/route.ts
  apps/service/app/api/auth/sign-out/route.ts
  apps/service/app/layout.tsx
  apps/service/app/provider.tsx
  apps/service/entities/auth/api/getUserSession.ts
  apps/service/entities/auth/constant/accessMessage.ts
  apps/service/entities/auth/constant/index.ts
  apps/service/entities/auth/lib/hook/useRestrictAccessMessage.ts
  apps/service/entities/auth/model/useSession.ts
  apps/service/entities/auth/ui/FailedLoginAlert.tsx
  apps/service/entities/auth/ui/NeedLogin.tsx
  apps/service/entities/auth/ui/index.ts
  apps/service/shared/ui/ThumbnailImage.tsx
Labels: 🐛 bug, 🛠️ refactor, 📰 service, ✨ feature

#99 carousel pagination 추가
  apps/service/shared/ui/carousel/Carousel.tsx
  apps/service/shared/ui/carousel/EmblaDotButton.tsx
  apps/service/shared/ui/carousel/embla.css
  apps/service/widgets/sign-in/ui/SignInCarousel.tsx
Labels: 📰 service, ✨ feature

#100 dialog 및 drawer 컴포넌트 스타일 수정 (DS)
  packages/design-system/src/DIalog/Dialog.tsx
  packages/design-system/src/Drawer/Drawer.tsx
Labels: ✨ feature, 📚 design system

#103 구독하기 버튼 추가 요구사항 반영
  apps/service/app/newsletter/[newsletterId]/page.tsx
  apps/service/entities/auth/ui/InduceLoginConfirm.tsx
  apps/service/entities/auth/ui/index.ts
  apps/service/features/subscribe-newsletter/api/checkSubscribeState.ts
  apps/service/features/subscribe-newsletter/api/index.ts
  apps/service/features/subscribe-newsletter/api/subscribeNewsletter.ts
  apps/service/features/subscribe-newsletter/index.ts
  apps/service/features/subscribe-newsletter/model/index.ts
  apps/service/features/subscribe-newsletter/model/subscribeNewsletterKeys.ts
  apps/service/features/subscribe-newsletter/model/type/index.ts
  apps/service/features/subscribe-newsletter/model/type/subscribeButtonProps.ts
  apps/service/features/subscribe-newsletter/model/type/subscribeNewsletter.ts
  apps/service/features/subscribe-newsletter/model/useCheckSubscribeStateQuery.ts
  apps/service/features/subscribe-newsletter/model/useSubscribeNewsletter.ts
  apps/service/features/subscribe-newsletter/ui/AutoSubscribeConfirm.tsx
  apps/service/features/subscribe-newsletter/ui/DefaultButton.tsx
  apps/service/features/subscribe-newsletter/ui/ManualSubscribeConfirm.tsx
  apps/service/features/subscribe-newsletter/ui/SubscribeButton.tsx
  apps/service/features/subscribe-newsletter/ui/UserSubscribeButton.tsx
  apps/service/features/subscribe-newsletter/ui/index.ts
  apps/service/widgets/newsletter-introduce/api/fetchNewsletterPreviousArticles.ts
  apps/service/widgets/newsletter-introduce/api/fetchNewsletterProfile.ts
  apps/service/widgets/newsletter-introduce/api/fetchRelatedNewsletters.ts
  apps/service/widgets/newsletter-introduce/api/index.ts
  apps/service/widgets/newsletter-introduce/api/subscribeNewsletter.ts
  apps/service/widgets/newsletter-introduce/model/type/newsletterProfileResponse.ts
  apps/service/widgets/newsletter-introduce/ui/NewsletterIntroduce.tsx
  apps/service/widgets/newsletter-introduce/ui/NewsletterPreviousArticleItem.tsx
  apps/service/widgets/newsletter-introduce/ui/NewsletterPreviousArticles.tsx
  apps/service/widgets/newsletter-introduce/ui/NewsletterProfile.tsx
  apps/service/widgets/newsletter-introduce/ui/NewsletterSubscribeButton.tsx
  apps/service/widgets/newsletter-introduce/ui/RelatedNewsletters.tsx
  packages/design-system/src/Checkbox/Checkbox.tsx
  packages/design-system/src/DIalog/Dialog.tsx
Labels: 🛠️ refactor, 📰 service, ✨ feature, 📚 design system

#104 아이콘 추가 및 반영 / 슬랙 알림 버그 수정
  .github/workflows/workflow.yml
  apps/service/next.config.mjs
  apps/service/widgets/main/ui/RecentArticles.tsx
  apps/service/widgets/main/ui/UserRank.tsx
  packages/design-system/package.json
  packages/design-system/src/DIalog/Dialog.tsx
  packages/design-system/src/RadioGroup/RadioGroup.tsx
  packages/icons/src/outline/index.ts
  packages/icons/src/outline/react/Book.tsx
  packages/icons/src/outline/react/Document.tsx
  packages/icons/src/outline/react/Flame.tsx
  packages/icons/src/outline/react/X.tsx
  packages/icons/src/outline/svg/book.svg
  packages/icons/src/outline/svg/flame.svg
  packages/icons/src/outline/svg/x.svg
  pnpm-lock.yaml
Labels: 🐛 bug, 📰 service, ✨ feature, 📚 design system, 🔨 CI / CD

#105 탐색 페이지 리팩토링
  apps/service/app/discover/[result]/page.tsx
  apps/service/app/discover/page.tsx
  apps/service/widgets/discover/ui/DiscoverInput.tsx
Labels: 🐛 bug, 🛠️ refactor, 📰 service

#106 공통 헤더 컴포넌트 리팩토링 및 정적 페이지 타이틀 메타데이터 추가
  apps/service/app/discover/page.tsx
  apps/service/app/error.tsx
  apps/service/app/global-error.tsx
  apps/service/app/inbox-bookmark/article/[articleId]/page.tsx
  apps/service/app/inbox-bookmark/layout.tsx
  apps/service/app/inbox-bookmark/page.tsx
  apps/service/app/inbox/article/[articleId]/page.tsx
  apps/service/app/inbox/layout.tsx
  apps/service/app/inbox/page.tsx
  apps/service/app/mypage/page.tsx
  apps/service/app/newsletter/[newsletterId]/article/[articleId]/page.tsx
  apps/service/app/newsletter/[newsletterId]/layout.tsx
  apps/service/app/newsletter/[newsletterId]/page.tsx
  apps/service/app/not-found.tsx
  apps/service/app/offline/page.tsx
  apps/service/app/page.tsx
  apps/service/app/policy/privacy/page.tsx
  apps/service/app/policy/service/page.tsx
  apps/service/app/setting/page.tsx
  apps/service/app/widget.tsx
  apps/service/widgets/inbox/ui/UserInboxLayout.tsx
  apps/service/widgets/main/ui/index.ts
  apps/service/widgets/menu/constant/index.ts
  apps/service/widgets/menu/constant/pageTitle.ts
  apps/service/widgets/menu/lib/hook/index.ts
  apps/service/widgets/menu/lib/hook/useTitle.ts
  apps/service/widgets/menu/lib/index.ts
  apps/service/widgets/menu/lib/util/getTitle.ts
  apps/service/widgets/menu/lib/util/index.ts
  apps/service/widgets/menu/ui/Footer.tsx
  apps/service/widgets/menu/ui/Header.tsx
  apps/service/widgets/menu/ui/Menu.tsx
  apps/service/widgets/menu/ui/SideBar.tsx
Labels: 🛠️ refactor, 📰 service, ✨ feature
