Repository Atractorrr/Attraction-FE, pull requests merged in 2024-05, with the labels that each got.

#2 Github Action type 커맨드 비활성화
  .github/workflows/workflow.yml
  package.json
  pnpm-lock.yaml
Labels: 🐛 bug, 🔨 CI / CD

#4 FSD 아키텍처 기반 폴더구조 생성
  apps/service/entities/index.ts
  apps/service/features/index.ts
  apps/service/shared/index.ts
  apps/service/views/index.ts
  apps/service/widgets/index.ts
Labels: ✨ feature

#5 MSW 상호 참조 에러 수정
  apps/service/__mocks__/data/articles.ts
  apps/service/__mocks__/data/index.ts
  apps/service/__mocks__/handlers/inbox/index.ts
  apps/service/__mocks__/handlers/index.ts
  apps/service/__mocks__/handlers/tools.ts
  apps/service/app/layout.tsx
Labels: 🐛 bug

#7 package.json lint 커맨드 수정
  package.json
  packages/config/package.json
  packages/design-system/package.json
  packages/icons/package.json
Labels: 🛠️ refactor

#13 린트 커맨드 변경 및 로직 수정
  .eslintrc.cjs
  .github/workflows/workflow.yml
  apps/service/.eslintrc.cjs
  apps/service/__mocks__/handlers/inbox/index.ts
  apps/service/__mocks__/handlers/main/index.ts
  apps/service/entities/article/model/type/article.ts
  apps/service/entities/article/ui/CardItem.tsx
  apps/service/entities/news-card/ui/NewsCard.tsx
  apps/service/entities/profile/lib/util/getCategorySVG.ts
  apps/service/entities/profile/ui/PreferTagItem.tsx
  apps/service/features/filter-article/model/useCategory.ts
  apps/service/features/filter-article/ui/FilterDropdownBtn.tsx
  apps/service/features/filter-article/ui/SearchBar.tsx
  apps/service/features/profile-container/ui/ProfileContainer.tsx
  apps/service/features/subscribe-list/ui/SubscribeList.tsx
  apps/service/package.json
  apps/service/widgets/recent-articles-container/ui/RecentArticlesContainer.tsx
  apps/service/widgets/trend-newsletters/ui/TrendNewsletters.tsx
  package.json
Labels: 🐛 bug, 📰 service, 🔨 CI / CD

#14 메인페이지 리팩토링 및 세부기능 추가
  .eslintrc.cjs
  .vscode/settings.json
  apps/service/__mocks__/data/trendNewsletters.ts
  apps/service/__mocks__/handlers/main/index.ts
  apps/service/app/page.tsx
  apps/service/entities/recent-article-item/ui/RecentArticleItem.tsx
  apps/service/entities/trend-newsletters/api/fetchNewsletters.ts
  apps/service/entities/trend-newsletters/api/index.ts
  apps/service/entities/trend-newsletters/model/index.ts
  apps/service/entities/trend-newsletters/model/type/trendNewsletter.ts
  apps/service/entities/trend-newsletters/model/useTrendNewsletters.ts
  apps/service/features/newsletter-categories/ui/NewsletterCategories.tsx
  apps/service/features/recent-articles/api/fetchArticles.ts
  apps/service/features/recent-articles/api/index.ts
  apps/service/features/recent-articles/model/index.ts
  apps/service/features/recent-articles/model/useRecentArticles.ts
  apps/service/features/recent-articles/ui/RecentArticles.tsx
  apps/service/shared/ui/background/Background.tsx
  apps/service/shared/ui/background/index.ts
  apps/service/shared/ui/carousel/Carousel.tsx
  apps/service/shared/ui/carousel/EmblaBlur.tsx
  apps/service/shared/ui/carousel/EmblaButton.tsx
  apps/service/shared/ui/carousel/embla.css
  apps/service/shared/ui/carousel/index.ts
  apps/service/shared/ui/carousel/index.tsx
  apps/service/shared/ui/index.ts
  apps/service/shared/ui/title/Title.tsx
  apps/service/shared/ui/title/index.ts
  apps/service/widgets/recent-articles-container/index.ts
  apps/service/widgets/recent-articles-container/ui/RecentArticlesContainer.tsx
  apps/service/widgets/trend-newsletters/index.ts
  apps/service/widgets/trend-newsletters/ui/TrendNewsletters.tsx
  apps/service/widgets/user-rank/ui/UserRank.tsx
  package.json
  pnpm-lock.yaml
Labels: 🐛 bug, 🛠️ refactor, 📰 service, ✨ feature

#16 로그인 페이지 구현
  apps/service/__mocks__/handlers/index.ts
  apps/service/__mocks__/handlers/sign-in/index.ts
  apps/service/app/api/auth/callback/google/route.ts
  apps/service/app/layout.tsx
  apps/service/app/page.tsx
  apps/service/app/provider.tsx
  apps/service/app/sign-in/page.tsx
  apps/service/entities/sign-in-slide/index.ts
  apps/service/entities/sign-in-slide/ui/SignInSlide.tsx
  apps/service/entities/sign-in-slide/ui/index.ts
  apps/service/features/recent-articles/model/useRecentArticles.ts
  apps/service/features/recent-articles/ui/RecentArticles.tsx
  apps/service/features/sign-in-carousel/constant/index.ts
  apps/service/features/sign-in-carousel/constant/introduce.ts
  apps/service/features/sign-in-carousel/index.ts
  apps/service/features/sign-in-carousel/ui/SignInCarousel.tsx
  apps/service/features/sign-in-carousel/ui/index.ts
  apps/service/middleware.ts
  apps/service/next.config.mjs
  apps/service/package.json
  apps/service/public/images/introduce-background.jpg
  apps/service/public/images/logo.jpg
  apps/service/public/svgs/google.svg
  apps/service/public/svgs/logo.svg
  apps/service/public/svgs/svg.tsx
  apps/service/shared/constant/oAuthURL.ts
  apps/service/shared/ui/carousel/Carousel.tsx
  apps/service/shared/ui/carousel/embla.css
  apps/service/shared/ui/oauth-button/index.ts
  apps/service/shared/ui/oauth-button/ui/GoogleOAuthButton.tsx
  apps/service/shared/ui/oauth-button/ui/index.ts
  apps/service/svg.d.ts
  apps/service/tsconfig.json
  apps/service/widgets/recent-articles-container/ui/RecentArticlesContainer.tsx
  apps/service/widgets/sign-in/constant/index.ts
  apps/service/widgets/sign-in/constant/introduce.ts
  apps/service/widgets/sign-in/index.ts
  apps/service/widgets/sign-in/ui/Signin.tsx
  apps/service/widgets/sign-in/ui/index.ts
  pnpm-lock.yaml
Labels: 🛠️ refactor, 📰 service, ✨ feature

#17 1차 배포 전 메인페이지 최종 수정
  apps/service/.eslintrc.cjs
  apps/service/.lintstagedrc.json
  apps/service/__mocks__/handlers/main/index.ts
  apps/service/app/page.tsx
  apps/service/entities/trend-newsletters/model/type/trendNewsletter.ts
  apps/service/entities/trend-newsletters/ui/TrendNewsletterItem.tsx
  apps/service/features/newsletter-categories/api/fetchPreferCategories.ts
  apps/service/features/newsletter-categories/api/index.ts
  apps/service/features/newsletter-categories/index.ts
  apps/service/features/newsletter-categories/lib/util/getSortedCategories.ts
  apps/service/features/newsletter-categories/model/index.ts
  apps/service/features/newsletter-categories/model/type/index.ts
  apps/service/features/newsletter-categories/model/type/preferCaterories.ts
  apps/service/features/newsletter-categories/ui/NewsletterCategories.tsx
  apps/service/package.json
  apps/service/shared/ui/title/Title.tsx
  apps/service/widgets/recent-articles-container/ui/RecentArticlesContainer.tsx
  apps/service/widgets/trend-newsletters/ui/TrendNewsletters.tsx
  apps/service/widgets/user-rank/ui/UserRank.tsx
  package.json
  packages/design-system/.lintstagedrc.json
  packages/design-system/package.json
  packages/icons/.lintstagedrc.json
  packages/icons/package.json
  pnpm-lock.yaml
Labels: 🐛 bug, 🛠️ refactor, 📰 service

#20 사이드바 및 다크모드 기능 추가
  apps/service/.env.sample
  apps/service/app/favicon.ico
  apps/service/app/globals.css
  apps/service/app/icon.png
  apps/service/app/inbox/layout.tsx
  apps/service/app/layout.tsx
  apps/service/app/mypage/[userId]/page.tsx
  apps/service/app/page.tsx
  apps/service/entities/notification/index.ts
  apps/service/entities/user-article/ui/ArticleList.tsx
  apps/service/entities/user-article/ui/ArticleView.tsx
  apps/service/entities/user-article/ui/CardItem.tsx
  apps/service/features/set-theme/index.ts
  apps/service/features/set-theme/model/index.ts
  apps/service/features/set-theme/model/type/index.ts
  apps/service/features/set-theme/model/type/theme.ts
  apps/service/features/set-theme/model/useTheme.ts
  apps/service/public/images/og-image.jpg
  apps/service/public/images/warning.png
  apps/service/public/script/theme.js
  apps/service/shared/ui/MainLogoSVG.tsx
  apps/service/shared/ui/background/Background.tsx
  apps/service/shared/ui/carousel/embla.css
  apps/service/shared/ui/index.ts
  apps/service/widgets/header/index.ts
  apps/service/widgets/header/ui/Header.tsx
  apps/service/widgets/header/ui/index.ts
  apps/service/widgets/inbox/ui/UserInbox.tsx
  apps/service/widgets/side-bar/constant/adminEmail.ts
  apps/service/widgets/side-bar/constant/copyRight.ts
  apps/service/widgets/side-bar/constant/index.ts
  apps/service/widgets/side-bar/constant/sideMenu.ts
  apps/service/widgets/side-bar/index.ts
  apps/service/widgets/side-bar/ui/DoubleArrowLeft.tsx
  apps/service/widgets/side-bar/ui/DoubleArrowRight.tsx
  apps/service/widgets/side-bar/ui/Footer.tsx
  apps/service/widgets/side-bar/ui/MainLogo.tsx
  apps/service/widgets/side-bar/ui/Menu.tsx
  apps/service/widgets/side-bar/ui/SideBar.tsx
  apps/service/widgets/side-bar/ui/index.ts
  packages/config/attraction-preset.js
Labels: 📰 service, ✨ feature

#22 헤더 기능 구현 (+ 스타일 및 로직 점검)
  apps/service/app/page.tsx
  apps/service/entities/trend-newsletters/lib/hook/index.ts
  apps/service/entities/trend-newsletters/lib/hook/useTrendNewsletters.ts
  apps/service/entities/trend-newsletters/lib/index.ts
  apps/service/entities/user-article/model/useUserArticleMutation.ts
  apps/service/entities/user-article/model/userArticleQueryKeys.ts
  apps/service/entities/user-article/ui/ArticleView.tsx
  apps/service/entities/user-article/ui/ArticleViewSkeleton.tsx
  apps/service/entities/user-article/ui/CardItem.tsx
  apps/service/features/filter-article/ui/CategoryDropdownBtn.tsx
  apps/service/features/filter-article/ui/FilterDropdownBtn.tsx
  apps/service/features/filter-article/ui/HideReadToggleBtn.tsx
  apps/service/features/filter-article/ui/SortTypeDropdownBtn.tsx
  apps/service/features/filter-article/ui/ViewTypeTabMenu.tsx
  apps/service/features/newsletter-categories/lib/index.ts
  apps/service/features/newsletter-categories/lib/util/index.ts
  apps/service/features/newsletter-categories/ui/NewsletterCategories.tsx
  apps/service/features/recent-newsletter/ui/RecentNewsletterContainer.tsx
  apps/service/features/scroll-tracker/ui/ScrollProgressBar.tsx
  apps/service/features/scroll-tracker/ui/ScrollTracker.tsx
  apps/service/features/set-theme/ui/ThemeDropdownBtn.tsx
  apps/service/features/set-theme/ui/index.ts
  apps/service/features/sign-in/index.ts
  apps/service/features/sign-in/ui/AuthButton.tsx
  apps/service/features/sign-in/ui/index.ts
  apps/service/shared/ui/BackBtn.tsx
  apps/service/shared/ui/carousel/embla.css
  apps/service/widgets/header/ui/Header.tsx
  apps/service/widgets/inbox/ui/UserInbox.tsx
  apps/service/widgets/recent-articles-container/ui/RecentArticlesContainer.tsx
  apps/service/widgets/side-bar/constant/sideMenu.ts
  apps/service/widgets/side-bar/ui/Footer.tsx
  apps/service/widgets/side-bar/ui/Menu.tsx
  apps/service/widgets/side-bar/ui/SideBar.tsx
  apps/service/widgets/user-rank/ui/UserRank.tsx
  packages/config/attraction-preset.js
Labels: 📰 service, ✨ feature

#23 feat: 1차 배포 전 스타일 검수 (#ATR-187)
  apps/service/app/page.tsx
  apps/service/app/sign-in/page.tsx
  apps/service/public/svgs/logo.svg
  apps/service/shared/ui/carousel/embla.css
  apps/service/shared/ui/oauth-button/ui/GoogleOAuthButton.tsx
  apps/service/widgets/header/ui/Header.tsx
  apps/service/widgets/sign-in/ui/SignIn.tsx
  apps/service/widgets/sign-in/ui/index.ts
Labels: 📰 service, ✨ feature

#25 public path, private path 적용
  apps/service/app/layout.tsx
  apps/service/entities/auth/constant/index.ts
  apps/service/entities/auth/constant/path.ts
  apps/service/entities/auth/index.ts
  apps/service/middleware.ts
  apps/service/shared/ui/carousel/Carousel.tsx
  apps/service/widgets/sign-in/ui/SignIn.tsx
Labels: 🛠️ refactor, 📰 service, ✨ feature

#26 Refactor/style2 #atr 187
  apps/service/app/page.tsx
  apps/service/entities/auth/index.ts
  apps/service/entities/auth/ui/AuthButton.tsx
  apps/service/entities/auth/ui/index.ts
  apps/service/features/sign-in/index.ts
  apps/service/widgets/header/ui/Header.tsx
  apps/service/widgets/newsletter-introduce/ui/NewsletterIntroduce.tsx
Labels: 🛠️ refactor, 📰 service

#27 1차 배포 전 검수 및 병합
  apps/service/app/layout.tsx
  apps/service/app/sign-in/page.tsx
  apps/service/app/sign-up/page.tsx
  apps/service/app/widget.tsx
  apps/service/widgets/header/ui/Header.tsx
  apps/service/widgets/sign-in/ui/SignIn.tsx
Labels: 🛠️ refactor, 📰 service, ✨ feature

#28 trendNewsletter api 변경사항 적용
  apps/service/__mocks__/handlers/main/index.ts
  apps/service/entities/trend-newsletters/model/type/trendNewsletter.ts
  apps/service/entities/trend-newsletters/ui/TrendNewsletterList.tsx
  apps/service/widgets/trend-newsletters/ui/TrendNewsletters.tsx
Labels: 🐛 bug, 🛠️ refactor, 📰 service
